body {
    font-family: Arial, sans-serif;
    background-color: #03200f; 
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-top {
    background-color: #28a745;
    display: flex;
    align-items: flex-start; 
}

.image-container {
    flex: 1; 
    padding: 10px;
}

.image-container img {
    max-width: 200px; 
    height: auto; 
    border-radius: 10px; 
    margin-right: 80px; 
    transition: transform 0.3s;
}

.image-container:hover img {
    transform: scale(1.1);
}

.container {
    background-color: #ffffff; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    color: #555; 
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
select {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #28a745; 
    background-color: transparent;
    color: #333; 
    font-size: 16px;
    transition: border-bottom 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
    border-bottom: 2px solid #28a745; 
    outline: none;
}

input[type="tel"] {
    font-size: 14px;
}

input[type="file"] {
    display: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #28a745; 
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button[type="submit"] {
    background-color: #218838; 
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; 
}

button[type="submit"]:hover {
    background-color: #e67103; 
}
